doctype html
include includes/head.pug
script(src='/assets/js/form.js')
script(src="https://www.google.com/recaptcha/api.js" async defer)

body
    include includes/nav.pug
    #content
        span.header
            h1 Adicione o seu bot
            p Preencha esses detalhes e clique nesse botão. Certifique-se de que você está no servidor.
        br
        form.center
            .input-holder
                input#botid.input(type='text' placeholder=' ')
                .placeholder BoT ID
            br
            .input-holder
                input#prefix.input(type='text' placeholder=' ')
                .placeholder Prefixo
            br
            .input-holder
                input#description.input(maxlength=max_summary_length type='text' placeholder=' ')
                .placeholder Resumo
            br
            .input-holder
                textarea#longdesc.input(rows='7')
                .textarea-placeholder Descrição
            br
            .input-holder
                input#note.input(maxlength=max_summary_length type='text' placeholder=' ')
                .placeholder Nota para o administrador
            br
            .input-holder
                input#ownerids.input.xinput(type='text' placeholder=' ')
                .placeholder IDs de proprietário adicionais
            br
            .center-inline.g-recaptcha(data-callback='update_token' data-sitekey=site_key data-theme=req.cookies["theme"] || "light")
            a.button(onclick='submit()') Enviar
            br
        br
