doctype html
include includes/head.pug
body(onload="load()")
    include includes/nav.pug
    #content
        span.header
            h1 DiscList
            p Apenas mais uma lista de bots para Discord.
        #searchMore
            | Você gostaria de 
            a(href='/bots/search/') procure todos os bots
        #cards
            span#loading Carregando...
